@{
    ViewBag.Title = "Expired";
}
<h2>Sorry your service has expired</h2>
<h3>Please contact us to activate this service</h3>


<h4>Mr Frank Ofoedu</h4>
<address>    
    No 8 Montgomery road<br />
    Yaba Lagos, Nigeria<br />
    <abbr title="Phone">Phone:</abbr>
    07062760406
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:frankofoedu@insytAI.com">frankofoedu@insytAI.com</a><br />
</address>